page-home {
h3 {
    color: #8159d1;
    text-align: center;
}

.homebackground{
    background-image: url("/assets/pawprints.png");
    background-size: 160%;
    background-repeat: no-repeat;
}


}
